html
	scroll-behavior: smooth


body 
	background: #2b2b2b
	color: white
	font-family: a
	font-size: 18px
	line-height: 21px
a 
	text-decoration: none
	color: inherit
	
.bok
	appearance: none
	border-radius: 50%
	border:1px solid #e29e00
	cursor: pointer
	width: 60px
	height: 60px
	transition: background 300ms ease-in-out
	background-color: transparent
	background-size: 400%  
	background-image: linear-gradient(45deg, transparent 50%, #e29e00 50%)
	background-position: 100%  

	&:hover
		background-position: 0
		outline: 0

	&:hover svg path
		stroke: white	

h1
	font-family: n7
	font-size: 72px
	line-height: 81px
h2
	font-family: n6
	font-size: 48px
	line-height: 54px
h3
	font-family: n4
	font-size: 48px
	line-height: 54px
	text-transform: uppercase
@media screen and (max-width: 303px) 
	h3
		font-size: 24px
		line-height: 28px
h4
	font-family: m
	font-size: 18px
	line-height: 18px
@media screen and (max-width: 260px) 
	h4
		display: none


.wide
	margin: 0 auto
	width: 100%
	max-width: 1920px
.hidden 
	display: none
	
.sbm 
	padding: 8px 16px
	margin-top: 15px
	font-family: n7
	font-size: 18px
	line-height: 20px
	color: #1d1d1d
	border: 2px solid #1d1d1d
	border-radius: 30px
	background-color: transparent


.sbm:hover, .sbm:active
	background: #1d1d1d
	color: white  	

/***************************************************/
.hd
	padding: 0px 0 0px
	position: relative
	&__1
		padding: 30px 0 0px
		display: flex
		justify-content: space-between
		align-items: center
		position: absolute
		width: 100%
	&__2

		display: flex
		justify-content: space-between 
		align-items: center
		gap: 15px		
	&__3
		width: calc(100% - 205px)
		display: flex
		justify-content: space-between 
		align-items: center	
	& ul 
		display: flex

	& ol 
		display: none
		margin-right: 0px

@media only screen and (max-width: 622px) 
	.hd ul 
		display: none
  

@media only screen and (max-width: 622px) 
	.hd ol 
		display: flex
/***********************************/  
.mob 
	display: flex
	justify-content: flex-end
	color: white
	width: 100vw
	height: 100vh
	font-family: a
	font-size: 26px  
	background: rgba(5, 4, 2, 1)
	position: fixed
	right: 0
	top: 0
	transform: translateX(0)
	transition: .2s
	pointer-events: auto
	z-index: 10

.mob__close 
	font-size: 70px
	line-height: 81px

.mob__menu
	margin: 2px 37px

.mob__menu li 
	margin: 14px 0

.mob__menu li:hover 
	opacity: 0.7
	cursor: pointer

.mob__menu li:hover:not(:first-child) 
	text-decoration: underline
.mob__2
	position: absolute
	left: 45px
	bottom: 35px	
	display: flex
	justify-content: space-between 
	align-items: center
	gap: 15px	
	


.vid 
	opacity: 0
	pointer-events: none
	transform: translateX(-100%)


.mjs
	cursor: pointer

/********************************/

.hi
	padding: 188px 0 0
	flex-wrap: wrap
	overflow: hidden
	display: flex
	justify-content: space-between
	align-items: center

	&__1
		align-self: stretch
		width: 100%
		max-width: 449px
		overflow: hidden
	&__2
		padding: 2px 0 18px
		width: 90%
		max-width: 406px

	&__ring
		border-radius: 50%
		position: relative
		align-self: end
		filter: drop-shadow(0px 0px 152px rgba(0, 196, 240, 0.42))
		width: 100%
		max-width: 575px
		height: 575px
		border: 67px solid #00c4f0
	&__pic1
		position: absolute
		bottom: -74px
		left: 0
		pointer-events: none
	&__pic2
		position: absolute
		bottom: 275px
		left: -11px
		pointer-events: none
	&__uix
		border-radius: 50%
		position: absolute
		display: flex
		top: calc(50% - 45px)
		left: calc(50% - 45px)	
		width: 90px
		height: 90px
		background: #353535
		color: #00c4f0
		font-family: n7
		font-size: 36px
		line-height: 41px
	&__ui1
		transform: rotate(105deg) translatey(300px)
	&__p1
		margin: auto
		transform: rotate(-105deg)
	&__ui2
		transform: rotate(140deg) translatey(300px)
	&__p2
		margin: auto
		transform: rotate(-140deg)
	&__ui3
		transform: rotate(217deg) translatey(300px)
	&__p3
		margin: auto
		transform: rotate(-217deg)
	&__ui4
		transform: rotate(66deg) translatey(300px)
	&__p4
		margin: auto
		transform: rotate(-66deg)	
	&__btn
		padding: 9px 27px
		font-family: n7
		font-size: 18px
		line-height:  20px
		border-radius: 6px		
		cursor: pointer
		appearance: none
		display: flex 
		align-self: center
		background-size: 400%
		border-color: #e29e00
		transition: all 300ms ease-in-out
		background-color: transparent
		background-image: linear-gradient(45deg,transparent 50%,#e29e00  50%)	
		background-position: 100%		
		color: #000		
	 
		&:hover
			background-position: 0
			color: #e29e00
			background-color: transparent
			outline: 0		
		
		
@media screen and (max-width: 1155px) 
	.hi
		flex-direction: column


/****************************************************/
.ab
	padding: 50px 0 82px
	background: #3d3d3d
	overflow: hidden
	&_1
		display: flex
		justify-content: space-between
		align-items: center
	&_kbd
		font-family: a
		font-size: 24px
		line-height: 28px
		display: flex
		justify-content: center
		align-items: flex-start
		gap: 15px 15px
		flex-wrap: wrap
		
	&_kbd li 
		padding-top: 29px
		display: block
		width: 270px
		height: 270px
		border-radius: 29px
		text-align: center
		background: #2a2a2a
		b0order:1px solid 
		cursor: pointer
		user-select: none

	&_kbd li div
		margin: 0 auto
		b0ackground: black
		width: 250px
		height: 138px
		display: grid
		place-items: center
	&_kbd li p
		padding-top: 21px
		
	&_2
		margin-top: 147px
		width: 100%
		position: relative
		display: flex
		justify-content: space-between
		align-items: center
	&_3
		width: 5px
		height: 5px
		b0ackground: lime
	&_ring1
		margin-top: 143px
		width: 792px
		height: 792px
		position: absolute
		top: 0
		left: 0
		border-radius: 50%
		border: 89px solid #E4E4E4
		filter: drop-shadow(0px 4px 70px rgba(255, 255, 255, 0.25))
	&_ring2
		margin-bottom: 34px
		width: 356px
		height: 356px
		border-radius: 50%
		border: 34px solid #E2A200
		filter: drop-shadow(0px 4px 70px rgba(226, 162, 0, 0.25))
	&_ring3
		width: 486px
		height: 486px
		border-radius: 50%
		border: 55px solid #00C4F0
		filter: drop-shadow(0px 4px 40px rgba(0, 193, 236, 0.25))	
	&_4
		width: 5px
		height: 5px
		b0ackground: yellow
	&_5
		padding-top: 86px
		padding-right: 56px
		b0ackground: pink 
		position: absolute
		top: 0
		right: 0
		display: flex
		justify-content: flex-end
		align-items: flex-end
		flex-direction: column
		d0isplay: none
	&_about_8
		display: flex
		justify-content: space-between
		align-items: center
		justify-content: flex-end
		width: 100%
		position: relative
		b0ackground: b0lue

	&_6
		display: flex
		flex-direction: column
		justify-content: space-between
		align-items: flex-end
		height: 1013px
		b0ackground: navy
	&_pic3
		position: relative
		border-radius: 14px 14px 0 14px
		padding: 33px
		background: #2C2C2C
	&_pic4
		position: absolute
		top: 0px
		left: 1px	
	&_pic6
		z-index: 4
		position: relative
		border-radius: 14px 0 14px 14px
		padding: 33px
		background: #2C2C2C	
	&_pic9
		position: absolute
		top: 112px
		left: 100px
	&_bio
		z-index: 5
		h0eight: 696px
		background: #2C2C2C
		padding: 33px 33px 10px 33px
		border-radius: 0px 6px 6px 0
	&_7
		margin-top: -59px
	&_8
		padding: 40px 0 45px
		width: 90%
		max-width: 370px
		font-family: a
		font-size: 20px
		line-height: 23px
	&_pic5
		position: relative
		border-radius: 0 14px 14px 0
		padding: 33px 33px 33px 0
		background: #2C2C2C	
	&_bok1
		transform: rotate(-90deg)
	&_bok2
		transform: rotate(90deg)
	
@media screen and (max-width: 795px) 
	.ab_about_8
		display: block

	
/*********************************************************/
.pf
	padding: 99px 0 141px	
	&_pof_1
		text-align: center
		padding-bottom: 45px
	&_1
		background: none
		gap: 40px
		display: flex
		justify-content: center
		align-items: center

	&_toleft
		padding: 18px 0px 0px 18px
		cursor: pointer
		transform: rotate(-90deg)
		width: 60px
		height: 60px
		background: url(../img/pic8.png)
	&_toright
		padding: 18px 0px 0px 18px
		cursor: pointer
		transform: rotate(90deg)
		width: 60px
		height: 60px
		background: url(../img/pic8.png)
	&_mat
		padding: 50px
		w0idth: calc(100% - 120px)
		max-width: 970px 
		h0eight: 600px
		border-radius: 29px 
		background: #323232	
		
	&_deep
		display: flex
		justify-content: space-between
		align-items: center
		gap: 30px

	&_pof_2
		border-radius: 29px
		overflow: hidden
		background: navy
	&_pof_3
		max-width: 296px
		text-align: center
	&_pof_4
		width: 100%
		border-radius: 29px
	&_pof_5
		font-family: a
		font-size: 24px
		line-height: 28px
		padding-bottom: 26px
	&_pof_6
		margin: 28px auto 0
		border: none
		background: none
		color: #e29e00
		width: fit-content
	&_tape	
		display: flex
		transition: .5s
		transform: translateX(0)	

@media screen and (max-width: 1350px) 
	.pf_1
		gap: 0px	
@media screen and (max-width: 800px) 
	.pf_deep
		flex-direction: column
@media screen and (max-width: 580px) 
	.pf_mat
		padding: 0 0 50px

/****************************************************/
.ft
	padding: 54px 0px 54px
	background: #323232	
	&_dno
		margin:0 auto
		width:90%
		max-width: 800px
		display: flex
		justify-content: space-between
		align-items: flex-start 
		flex-wrap: wrap
		b0ackground: teal


	&_u 
		padding-bottom: 32px
		b0ackground: olive
	&_u li
		padding-right: 20px
		b0ackground: red
		padding-bottom: 12px	
	&_1
		padding-bottom: calc(12px)
		height: 133px
		flex-direction: column
		background: #323232
		display: flex
		justify-content: space-between
		align-items: center
	&_2
		gap: 15px
		display: flex
		justify-content: space-between
		align-items: center
	&_3
		padding: 18px 0px 0px 18px
		cursor: pointer
		width: 60px
		height: 60px
		background: url(../img/pic8.png)
				
@media screen and (max-width: 720px) 
	.ft_dno
		justify-content: center		

/**********************************************/
label + input:hover, 
textarea:hover 
	cursor: pointer
	border: 2px solid #828282

	
.a 
	padding: 33px 38px
	position: fixed
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	width: 100%
	f0ont-family: a
	max-width: 680px
	max-height: 100vh
	background: #cccccc
	border: 2px solid #1d1d1d 
	border-radius: 29px
	z-index: 12 
	

	&__wrap 	
		height: fit-content
		max-height: calc(100vh - 117px)
		overflow-y: auto	
		border: none
		

	&__block 
		padding-bottom: 16px
		width: 100%
		
	 
	&__form label 
		padding-bottom: 8px
		position: relative
		display: inline-block
		font-size: 24px
		line-height: 28px
		color: #2b2b2b
	 
	&__txt, 
	&__form input
		padding: 12px
		width: 100%	
		font-size: 18px
		line-height: 21px   
		border: 2px solid #E5E5E5 
		resize: none
	

.overlay 
	width: 100vw
	height: 100vh
	background: #2b2b2bf8
	position: fixed
	top: 0
	left: 0
	z-index: 11
  
#hr
	height: 3px
	background: white


.cr
	position: absolute
	top: 21px
	right: -44px
	font-size: 45px
	line-height: 25px
	color: white
	cursor: pointer
	background: transparent
	border: none
	transition: .4s  

@media screen and (max-width: 767px) 
	.a 
		padding: 55px 15px 30px
	.cr
		right: 11px
		color: black	  
/*************************************************/	
.a2 
	padding: 33px 38px
	position: fixed
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	width: 100%
	max-width: 1171px
	max-height: 100vh
	background: #cccccc
	border: 2px solid #1d1d1d
	border-radius: 29px
	z-index: 12
.cr2
	position: absolute
	top: 21px
	right: -44px
	font-size: 45px
	line-height: 25px
	color: white
	cursor: pointer
	background: transparent
	border: none
	transition: .4s 
	
@media screen and (max-width: 1266px) 
	.a2 
		padding: 55px 15px 30px
	.cr2
		right: 11px
		color: black

	