/**/
 /*.burger {display: none;} */
 




	
	
.slider {}
.slider__wrapper {overflow: hidden;}
.slider__inner-wrapper {display: flex; height: 100%;}
.slider__slide {
	display: flex; flex-shrink: 0; height: 472px; align-items: center; justify-content: center; 
	font-size: 24px;color: #fff;user-select: none;}
.slider__panel {display: flex;align-items: center;margin-top:24px;display: flex; justify-content: space-between;
padding-bottom: 32px;}
.slider__pagination {display: flex;}
.slider__dot {width:16px; height:16px;border-radius:50%; cursor: pointer;background: #e5e5e5;margin:1px;}
.slider__dot:hover {background: #828282;}
.slider__dot_active {background: #070707;cursor: default;}
.slider__button_back {background: none;border:none;cursor:pointer;}
.slider__button_next {background: none;border:none;cursor:pointer;}
.slider__back-img {width:42px; height:42px;transform: rotate(180deg);}
.slider__next-img {width:42px; height:42px;transform: rotate(0deg);}

.ant__name {margin-bottom:0px;font-family:g700; font-size:47px;}
.ant__future {display: flex;justify-content:space-between;align-items: flex-end;
font-family:g500; font-size:18px;width:226px; margin: 21px 0 9px 0px; 
	display: flex; justify-content: space-between; width:100%;}
.ant__old {width:214px;}
.ant__burger {align-self: flex-start;margin-top:6px;cursor: pointer;}

@media screen and (min-width:1200px){
	.ant {display: flex; flex-direction: row; margin-bottom:36px; padding-top:39px;}/*имя фронтендера*/
	.ant__burger {display: none;}
}
@media screen and (min-width:768px) and (max-width:1199px){
	
	.ant__burger {display: none;}
}
@media screen and (max-width:767px){
	.ant {display: flex; flex-direction: column; margin-bottom:26px; padding-top:39px;}/*имя фронтендера*/
	.ant__burger {display: block;}
	
	}
	
/* debug color */
/*
.ant__name {background:#edf;}
.ant__future {background: #fde;}
.ant__old {background: #def;}*/

































