/**/
.footer {
margin: 0 auto;
width: 100%;
display:flex; flex-direction: column; justify-content: flex-end; align-items: center;
padding-bottom: 60px;
	}
 
.footer__ul {display:flex;justify-content:center;flex-wrap:wrap;}
.footer__li {margin:2.5px 4px;} 

.footer__link {line-height: 16px; border-bottom: 1px dashed #828282;}	
.footer__link:hover {color: #070707; border-bottom: 1px solid #070707;}






@media screen and (min-width:1200px){
.footer {max-width:440px; padding-top:54px;}
.footer__h2 {font-family: g700; font-size: 34px; line-height: 41px; color: #070707;} 

.footer__ul {width:440px; padding: 32px 50px;}

.footer__want {text-align: center; width:300px;
	font-family: g500; font-size: 18px; line-height: 21px; color: #070707;
	padding-top: 22px;
	padding-bottom: 28px;}
.footer__btn {padding:9px 27px;}		
.footer__9 {text-align: center; width:204px;
	font-family: g500; font-size: 14px; line-height: 22px; color: #828282;padding-top:1px;}

}

@media screen and (min-width:768px) and (max-width:1199px){
	
footer {max-width:440px; padding-top:74px;}
.footer__h2 {font-family: g700; font-size: 34px; line-height: 0px;color: #070707;} 	
.footer__ul {width:432px; padding: 33px 50px;}
.footer__want {text-align: center; width:300px;
	font-family: g500; font-size: 18px; line-height: 21px; color: #070707;
	padding-top: 42px;
	padding-bottom: 29px;}	
.footer__btn {padding:9px 26px;}	
.footer__9 {text-align: center; width:204px;
	font-family: g500; font-size: 14px; line-height: 22px; color: #828282;padding-top:0px;}		
	
	}
@media screen and (max-width:767px){

.footer {max-width:280px; padding-top:61px;}
.footer__h2 {font-family: g700; font-size: 34px; line-height: 0px;color: #070707;} 
.footer__btn {padding:10px 24px;}
.footer__ul {width:387px; padding: 33px 50px;}
.footer__want {text-align: center; width:300px;
	font-family: g700; font-size: 18px; line-height: 21px; color: #070707;
	padding-top: 28px;
	padding-bottom: 41px;}
.footer__9 {text-align: center; width:204px;
	font-family: g500; font-size: 14px; line-height: 22px; color: #828282;padding-top:3px;}	
	
	
	}

/* debug color */

/*@media screen and (min-width:1200px){.footer {background: rgba(255,7,7,.85)}}*/
/*@media screen and (min-width:768px) and (max-width:1199px){.footer {background: rgba(7,255,7,.85)}}*/
/*@media screen and (max-width:767px){.footer {background: rgba(7,7,255,.85)}}*/




