/**/

/********************************************HEADER ************************************/
 .header {font-family: g700;font-size:18px;
line-height: 22px;
justify-content: space-between;align-items: center;;padding: 35px 0 31px 10px;border-bottom: 1px solid #070707;}
.header__menu {

    display: flex;
    align-items: center;
	margin-bottom: 0px;
}
.header__nav {margin-left: 20px; color: #828282; cursor: pointer;}
.header__nav_active {margin-left: 20px; color: #070707;}
.header__nav:hover {color: #070707; text-decoration: none;}
.header__link {color: #828282;}
.header__link:hover, .link:focus {color: #070707; text-decoration: none;}
.header__logo {color: #070707;}
.header__logo:hover, .logo:focus {color: #828282; text-decoration: none;}

/* debug color */
@media screen and (min-width:1200px){
 .header {display: flex;}	
}
@media screen and (min-width:768px) and (max-width:1199px){
 .header {display: flex;}	
}
@media screen and (max-width:767px){
 .header {display: none;}	
}


























