/**/
@media screen and (min-width:1200px)
{
.port {padding-top:83px; background:#f6f6f6;}
.port__h2 {font-family: g700; font-size:34px; line-height: 0px;text-align: center;
	margin-bottom:64px;}
.port__zet {padding-top:8px; padding-bottom:66px;}	
.port__desctop {display:block}
.port__tablet {display:none}	
.port__mobile {display:none}
.port__note {position: absolute; bottom:0;left:0;
	font-family: g500; font-size: 14px; line-height: 16px; color: #ffffff; 
	background: rgba(7,7,7,.85); height:150px;	
	padding: 31px 300px 0;
	text-align: center;	
	}
.port__text {padding-top: 18px;}
.port__link {display: inline; font-family: g500; font-size: 18px; line-height: 21px; color: #ffffff; 
	border-bottom: 1px dashed #ffffff;}
.port__link:hover {border-bottom: 1px solid #ffffff;}
.port__slider {position: relative; height: 604px;}
.port__btn {position: absolute; top:50%; transform:translateY(-50%); background: none; border: none;}
.port__btn_left {left:16px;}
.port__btn_right {right:16px;}	
.port__br {display:none;}
}

@media screen and (min-width:768px) and (max-width:1199px)
	{
.port {padding-top:83px; background:#f6f6f6;}		
.port__h2 {font-family: g700; font-size:34px; line-height: 0px;text-align: center;
	margin-bottom:64px;}		
.port__zet {padding-top:8px; padding-bottom:66px;}
.port__desctop {display:none}
.port__tablet {display:block}	
.port__mobile {display:none}
.port__note {position: absolute; bottom:0;left:0;
	font-family: g500; font-size: 14px; line-height: 16px; color: #ffffff; 
	background: rgba(7,7,7,.85); height:150px;	
	padding: 31px 125px 0;
	text-align: center;	
	}
.port__text {padding-top: 18px;}
.port__link {display: inline; font-family: g500; font-size: 18px; line-height: 21px; color: #ffffff; 
	border-bottom: 1px dashed #ffffff;}
.port__link:hover {border-bottom: 1px solid #ffffff;}
.port__slider {position: relative; height: 604px;}
.port__btn {position: absolute; top:50%; transform:translateY(-50%); background: none; border: none;}
.port__btn_left {left:4px;}
.port__btn_right {right:4px;}	
.port__br {display:none;}
}

@media screen and (max-width:767px)
	{
.port {padding-top:58px; padding-bottom: 33px;background:#f6f6f6;}
.port__h2 {font-family: g700; font-size:34px; line-height: 0px;text-align: center;
	margin-bottom:42px;}
.port__zet {padding-top:8px; padding-bottom:6px;}	
.port__desctop {display:none}.port__tablet {display:none}.port__mobile {display:block}
.port__note {position: absolute; bottom:0;left:0;
	font-family: g500; font-size: 14px; line-height: 16px; color: #ffffff; 
	background: rgba(7,7,7,.85); height:181px;	
	padding: 20px 15px 0;
	text-align: center;	
	}
.port__text {padding-top: 18px;}
.port__link {display: inline; font-family: g500; font-size: 18px; line-height: 21px; color: #ffffff; 
	border-bottom: 1px dashed #ffffff; }
.port__link:hover {border-bottom: 1px solid #ffffff;}
.port__slider {position: relative; height: 604px;}
.port__btn {position: absolute; top:50%; transform:translateY(-50%); background: none; border: none;}
.port__btn_left {left:3px;}
.port__btn_right {right:3px;}	
.port__br {display:inline;}
}





