*, *::after, *::before 
	box-sizing: border-box
	margin:0
	padding:0
	font-style: normal 
	   
ul,ol 
	list-style-type: none 	





//***************************************/	
.container 
	max-width: 1200px
	width: 100%
	margin:0 auto
.container1440
	max-width: 1440px
	width: 100%
	margin:0 auto
.mob,.mob button 
	font-family: sans-serif
	font-size:26px
	
.mob  
	color: #000
	width:150vw
	height:150vh
	background: #00ffffcc
	position: fixed
	right:0
	top: 0
	display: flex
	justify-content: flex-end
	transition: opacity 2s
	pointer-events: auto
	z-index: 10
	
	
.vid
	opacity: 0
	pointer-events: none

.hidden
	display: none
.weld
	white-space: nowrap


.u01
	gap:53.5px
	margin: 2px 69px 2px 0px
	display:flex
	justify-content: space-between
	align-items: center
	& li 
		white-space: nowrap	
.u02
	gap:0px
	margin: 2px 0px
	display:flex
	justify-content: space-between
	align-items: center		
.u03
	margin: 2px 37px 2px 28px
	gap:42px
	display:flex
	justify-content: space-between
	align-items: center
.u04
	cursor:pointer
.u05
	margin: 2px 37px
	& li
		margin: 14px 0
	& li:hover
		opacity:.7
		cursor: pointer
.u06
	margin:32px 0 26px
	display:flex
	justify-content: space-evenly
	align-items: center
	font-family: 'Raleway'
	font-weight: 400
	font-size: 14px
	line-height: 20px
	flex-wrap: wrap
	color: #214E41
	& > li
		width:353px
		padding:6px 6px 24px
		display:flex
		justify-content: space-between
		align-items: flex-start
		gap:8px	
		
.u07 
	& li:first-child
		font-family: 'Raleway'
		font-weight: 400
		font-size: 16px
		line-height: 24px
		border-radius: 6px
		color: #214E41	
.u08
	width:77px
	text-align: center
	color: #214E41
	
	& > li:nth-child(1)
	font-family: 'Raleway'
	font-weight: 400
	font-size: 13px
	line-height: 22px
	& > li:nth-child(2)
	width:75px
	display: block
	background:#214E41
	& > li:nth-child(3)
	white-space: nowrap
	font-family: 'Raleway'
	font-weight: 700
	font-size: 13px
	line-height: 22px
	padding-top:24px
.u09
	font-family: 'Rob'
	font-weight: 400
	font-size: 32px
	line-height: 42px
	color: #43806C
	& li
		padding-bottom:17px
.u10
	font-family: 'Raleway'
	font-weight: 400
	font-size: 20px
	line-height: 34px
	letter-spacing: 0.02px
	color: #FFFFFF
	& li
		padding-bottom:36px
.u11
	width:25%
	& li:nth-child(1)
		font-family: 'Rob700'
		font-weight: 700
		font-size: 60px
		line-height: 78px
		color: #F0A446
	& li:nth-child(2)
		padding:13px 53px 0 0 
		font-family: 'Raleway'
		font-weight: 700
		font-size: 13px
		line-height: 22px
		letter-spacing: 0.02px
		color: #214E41
.u12
	gap:39px
	display:flex
	justify-content: flex-end
	align-items: center
	font-family: 'Rob700'
	font-weight: 700
	font-size: 20px
	line-height: 26px
	flex-wrap:wrap
	color: #214E41
	& li
		width:355px
		height:384px
	& li h6
	padding-top: 21px
	padding-bottom:12px
	font-family: 'Raleway'
	font-weight: 400
	font-size: 11px
	line-height: 18px
	letter-spacing: 0.05px
	text-transform: uppercase
	color: #43806C
	& li p 
.u13
	margin-right:30px
	& li
		margin-bottom:14px
	& li:first-child
		font-family: 'Rob700'
		font-weight: 700
		font-size: 13px
		line-height: 24px
		letter-spacing: 0.02px
		text-transform: uppercase
		color: #FFFFFF	
	& li:last-child
		margin-bottom:20px
	& li:not(:first-child)
		cursor: pointer
		color: #FFFFFF
	.u13 li:not(:first-child):hover
		text-decoration:underline
//*****************************/


.hd	
	display:flex
	justify-content: space-between
	align-items: center
	font-family: 'Raleway'
	font-weight: 700
	font-size: 14px
	line-height: 20px
	padding:16px 42px 28px
	line-height: 20px
	color: #214E41
	& ul
		display:flex

	& ol
		display: none
		margin-right:44px
	
	& li:hover
		cursor: pointer	

	& .lng
		width:22px
	


	&__logo
		margin-left:3px
		margin-top:9px
	&__nav
		display:flex
		justify-content: space-between
		align-items: center	
	&__btn
		color: #FFFFFF	
	&__burg 
@media only screen and (min-width: 850px)
    .hd ul
        display: none	
@media only screen and (min-width: 850px)
    .hd ol
        display: flex		

.give
	background: url('img/pic1.png')
	background-position: left bottom
	background-repeat:no-repeat
	background-color:#dddbce
	&__wr
		padding-top:0px
		padding-bottom:260px
		display:flex
		justify-content: flex-start
		align-items: flex-start
		position:relative
		flex-direction: column	
	&__h1
		max-width: 547px
		font-family: 'Rob700'
		font-weight: 700
		font-size: 36px
		line-height: 46px
		padding: 161px 0 39px
		color: #214E41
	&__fs1
		padding-top: 18px
		border: none
	&__leg
		font-family: 'Raleway'
		font-weight: 700
		font-size: 16px
		line-height: 24px
		text-align:left
		color: #214E41	
	&__how
		padding: 24px 22px
		width:309px
		border: none
		text-align:left
		font-family: 'Raleway'
		font-weight: 700
		font-size: 14px
		line-height: 20px
		margin-right:-33px
		border-radius: 6px 0px 0px 6px
		color: #222222
	&__find
		padding: 26px 36px
		font-family: 'Raleway'
		font-weight: 700
		font-size: 13px
		line-height: 20px
		border: none
		text-align:center
		border-radius: 0px 6px 6px 0px
		color: #FFFFFF
		background:#43806c
	&__find:hover
		background: green	
	&__dress
		margin-top:8px
		width:100%
		height:3px
		position: relative		
	&__more
		padding: 24px 24px 0
		top: 166px
		position:absolute
		border-radius: 6px
		background: white
		box-shadow: 1px 1px 4px rgba(232, 230, 230, 0.6)
._60		
	&__1
	padding:199px 0 101px
	display:grid
	grid-template-columns: 1fr 1fr
	&__2
		padding:11px 0 0px
		max-width:550px
		display:grid
		grid-template-columns: 1fr 13fr	
	&__3
		font-family: 'Raleway'
		font-weight: 400
		font-size: 14px
		line-height: 20px
		letter-spacing: 0.05px
		text-transform: uppercase
		color: #214E41
	&__4
		font-family: 'Rob700'
		font-weight: 700
		font-size: 36px
		line-height: 46px
		max-width:480px
		padding-top:18px
		color: #214E41
	&__5
		font-family: 'Raleway'
		font-weight: 400
		font-size: 18px
		line-height: 30px
		padding:38px 0px 20px
		max-width:493px
		letter-spacing: 0.02px
		color: #757575
	&__liner
		position:relative
		display:flex
		justify-content: flex-start
		align-items: flex-end
	&__liner::after
		content:''
		position:absolute
		width:92%
		height:3px
		background:#F0A446
		bottom:150px

	&__60
		margin: 7px 0px 7px
		position:relative
		margin-right:7px
	&__table
		display:flex
		justify-content: flex-end
		align-items: flex-end
		flex-direction:column
	&__graph
		padding-bottom:10px
		display:flex
		justify-content: space-between
		align-items: flex-end
		gap:41px
	&__liner
		display:grid
		grid-template-columns: 6fr 6fr  1fr 1fr
		
	&__7
		font-family: 'Rob700'
		font-weight: 700
		font-size: 70px
		line-height: 90px
		color: #214E41	
	&__of
		font-family: 'Raleway'
		font-weight: 700
		font-size: 13px
		line-height: 22px
		padding:30px 0 70px
		max-width:235px
		letter-spacing: 0.02px
		color: #214E41
	&__wo
		font-family: 'Raleway'
		font-weight: 700
		font-size: 13px
		line-height: 22px
		letter-spacing: 0.02px
		text-decoration-line: underline
		color: #214E41
	&__table
		padding-top:5px	
	&__titr
		font-family: 'Raleway'
		font-weight: 400
		font-size: 13px
		line-height: 22px
		text-align: center
		color: #757575	
.cust
	padding:13px 10px 10px 10px
	display:grid
	grid-template-columns: 1fr 1fr
	&__1
		background:#e3eeed
	&__2
		margin:120px auto
		max-width:440px
		padding:0px 0px 0px 10px
	&__3
		font-family: 'Raleway'
		font-weight: 400
		font-size: 13px
		line-height: 20px
		padding-bottom:29px
		letter-spacing: 0.05px
		text-transform: uppercase
		color: #214E41
	&__4
		font-family: 'Rob700'
		font-weight: 700
		font-size: 32px
		line-height: 42px
		padding-bottom:19px
		color: #214E41
	&__5
		padding:12px			
	&__6
		background: #214e41
	&__7
		margin:163px auto
		max-width:528px	
.no
	padding:107px 0 30px
	background-image:url(img/pic5.png)
	background-repeat:no-repeat
	background-position:right top 70%
	&__1
		max-width:528px
		padding:0px
	&__2
		font-family: 'Rob700'
		font-weight: 700
		font-size: 13px
		line-height: 20px
		letter-spacing: 0.05px
		text-transform: uppercase
		color: #43806C
	&__3
		font-family: 'Rob700'
		font-weight: 700
		font-size: 36px
		line-height: 46px
		padding-top:18px
		color: #214E41
	&__4
		font-family: 'Raleway'
		font-weight: 400
		font-size: 18px
		line-height: 30px
		padding-top:38px
		letter-spacing: 0.02px
		color: #757575
.k5
	padding:73px 0 108px
	display:flex
	justify-content: space-between
	align-items: center
.cel
	padding:72px 0 114px
	display:flex
	justify-content: flex-end
	align-items: center
	background-image:url(img/pic6.png)
	background-repeat:no-repeat
	background-position: left 23% top

	&__1
		max-width:480px
		padding:0px
	&__r900
		letter-spacing: 0.05px
		text-transform: uppercase
		color: #43806C
		font-family: 'Rob'
		font-weight: 900
		font-size: 13px
		line-height: 20px
	&__2
		font-family: 'Rob700'
		font-weight: 700
		font-size: 36px
		line-height: 46px
		padding-top:18px
		color: #214E41
	&__3
		font-family: 'Raleway'
		font-weight: 400
		font-size: 18px
		line-height: 30px
		padding-top:38px
		letter-spacing: 0.02px
		color: #757575
	&__4
		font-family: 'Raleway'
		font-weight: 700
		font-size: 18px
		line-height: 18px
		padding:26px 0px 12px
		background: transparent
		border: none
		border-bottom:2px solid #214E41
		letter-spacing: 0.02px
		color: #214E41
.easy
	padding:128px 0 65px
	background-image:url(img/pic7.png)
	&__1
		max-width:503px
	&__2
		letter-spacing: 0.05px
		text-transform: uppercase
		color: #43806C
		font-family: 'Raleway'
		font-weight: 700
		font-size: 13px
		line-height: 20px
	&__3
		padding-top:18px
		max-width:480px
		color: #214E41
		font-family: 'Rob700'
		font-weight: 700
		font-size: 36px
		line-height: 46px
	&__4
		padding-top:38px
		letter-spacing: 0.02px
		color: #757575
		font-family: 'Raleway'
		font-weight: 400
		font-size: 18px
		line-height: 30px
	&__5
		padding:27px 0px 12px
		background: transparent
		border: none
		border-bottom:2px solid #214E41
		letter-spacing: 0.02px
		color: #214E41
		font-family: 'Raleway'
		font-weight: 700
		font-size: 18px
		line-height: 18px
.pro
	padding:162px 0 223px
	&__1
		font-family: 'Rob700'
		font-weight: 700
		font-size: 36px
		line-height: 46px
		padding-bottom:97px
		text-align: center
		color: #214E41
.bet
	padding:2px 0 105px
.read
	display:flex
	justify-content: flex-end
	align-items: center
	background-image:url(img/pic16.png)
	&__1
		padding: 105px 0 55px 79px
		width:50%
		background: #e3eeed
	&__2
		width:480px
		padding:40px
	&__3
		font-family: 'Rob700'
		font-weight: 700
		font-size: 36px
		line-height: 46px
		padding-bottom:23px
		color: #214E41
	&__get
		font-family: 'Raleway'
		font-weight: 700
		font-size: 13px
		line-height: 21px
		padding:12px 24px
		border-radius: 6px
		border: none
		text-align: center
		letter-spacing: 0.02px
		color: #FFFFFF
		background:#43806c
	&__get:hover
		background: green
	& p
		padding-bottom: 42px

.ft1
	background: #214e41
	&__1
		padding:103px 0 70px
		display:flex
		justify-content: space-between
		align-items: flex-start

	&__2
		width:495px
		display:flex
		justify-content: space-between
		align-items: flex-start
		font-family: 'Raleway'
		font-weight: 400
		font-size: 16px
		line-height: 27px

	&__3
		margin-right:20px

	&__4
		width:356px
	&__5
		font-family: 'Raleway'
		font-weight: 400
		font-size: 13px
		line-height: 24px
		letter-spacing: 0.02px
		text-transform: uppercase
		color: #FFFFFF	
	&__6
		padding-top:18px
		font-family: 'Raleway'
		font-weight: 400
		font-size: 14px
		line-height: 24px
		letter-spacing: 0.02px
		color: #FFFFFF
	&__edit
		margin-top:16px
		border:2px solid white
		width:355px
		height:50px
	&__email
		display: none
		margin-right:-5px
		width:295px
		background:transparent
	&__submit
		display: none
		width:53px
		height:50px
		background:white
	&__soc
		display:flex
		justify-content: flex-start
		align-items: center
		padding-top:31px
		gap:25px

.ft2
	background: #214e41
	& p
		padding:11px 0
	&__1
		padding: 64px 0 50px 
		font-family: 'Raleway'
		font-weight: 400
		font-size: 14px
		line-height: 24px
		border-top:2px solid white
		letter-spacing: 0.02px
		color: #FFFFFF
	&__2
		display:flex
		justify-content: space-between
		align-items: center
		padding: 47px 0 0px
	&__3
		display:flex
		justify-content: space-between
		align-items: center
	&__4
		padding:4px 11px 4px 0

	&__5
		border-left:1px solid white
		padding:4px 0 4px 6px



//*********/
.to-up-btn
	position: fixed
	right: 50px
	bottom: 50px
	width: 42px
	height: 42px
	background: #43806C
	border: 2px solid #43806C
	border-radius: 50%
	cursor: pointer
	padding-left:7px
	padding-top:7px
	z-index: 8
	


.btn1
	display: inline-block
	background:#43806C
	padding: 11px 14px
	border-radius: 6px
	font-family:'Raleway'
	font-size: 14px
	line-height: 20px
	color: #ffffff	
	border: none
	transition: opacity .5s
	
.btn1:hover 
	cursor: pointer
	background:green
	
	
	