*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-style: normal;
}

ul, ol {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.container-wide {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.mobile {
  color: #ffffff;
  width: 150vw;
  height: 150vh;
  background: rgba(5, 114, 114, 0.9607843137);
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  justify-content: flex-end;
  transform: translateX(0);
  transition: 2s;
  pointer-events: auto;
  z-index: 10;
  font-family: sans-serif;
  font-size: 26px;
}
.mobile button {
  font-family: sans-serif;
  font-size: 26px;
}
.mobile__close {
  font-size: 80px;
  line-height: 81px;
}
.mobile__menu {
  margin: 2px 37px;
}
.mobile__menu li {
  margin: 14px 0;
}
.mobile__menu li:hover {
  opacity: 0.7;
  cursor: pointer;
}

.vid {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-100%);
  transition: 1s;
}

.hidden {
  display: none;
}

.weld {
  white-space: nowrap;
}

.pointer:hover {
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  padding: 16px 42px 28px;
  line-height: 20px;
  color: #214E41;
}
.header ul {
  display: flex;
}
.header ol {
  display: none;
  margin-right: 0px;
}
.header li:hover {
  cursor: pointer;
}
.header .lng {
  width: 22px;
}
.header__logo {
  margin-left: 3px;
  margin-top: 9px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__button {
  color: #FFFFFF;
}
.header__listStart {
  gap: 53.5px;
  margin: 2px 69px 2px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__listStart li {
  white-space: nowrap;
}
.header__listMiddle {
  gap: 0px;
  margin: 2px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__listEnd {
  margin: 2px 37px 2px 28px;
  gap: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__listBurger {
  cursor: pointer;
}

@media only screen and (max-width: 850px) {
  .header ul {
    display: none;
  }
}
@media only screen and (max-width: 850px) {
  .header ol {
    display: flex;
  }
}
.main {
  background: url("../img/pic1.png");
  background-position: left 44% bottom;
  background-repeat: no-repeat;
  background-color: #dddbce;
}
.main__wrap {
  padding-top: 0px;
  padding-bottom: 260px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  flex-direction: column;
}
.main__caption {
  max-width: 547px;
  font-family: "Roboto700";
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  padding: 161px 0 39px;
  color: #214E41;
}
.main__form {
  display: flex;
  padding-top: 18px;
}
.main__desc {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #214E41;
}
.main__input {
  padding: 24px 22px;
  width: 274px;
  border: none;
  text-align: left;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  border-radius: 6px 0px 0px 6px;
  color: #222222;
}
.main__button {
  padding: 26px 36px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  border: none;
  text-align: center;
  border-radius: 0px 6px 6px 0px;
  color: #FFFFFF;
  background: #43806c;
}
.main__button:hover {
  background: green;
}
.main__point {
  margin-top: 8px;
  width: 100%;
  height: 3px;
  position: relative;
}
.main__float {
  padding: 24px 24px 0;
  top: 166px;
  position: absolute;
  width: 100%;
  max-width: 1200px;
  border-radius: 6px;
  background: white;
  box-shadow: 1px 1px 4px rgba(232, 230, 230, 0.6);
}
.main__list {
  margin: 32px 0 26px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Raleway400";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  flex-wrap: wrap;
  color: #214E41;
}
.main__list > li {
  width: 353px;
  padding: 6px 6px 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
}
.main__table li:first-child {
  font-family: "Raleway400";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border-radius: 6px;
  color: #214E41;
}

@media screen and (max-width: 700px) {
  .main__float {
    top: 0;
  }
  .main {
    background-position: left 44% top;
    background-size: auto 100%;
  }
}
@media screen and (max-width: 460px) {
  .main__form {
    width: 97%;
    margin: 0 auto;
  }
  .main__input {
    width: 70%;
  }
  .main__button {
    width: 30%;
    padding: 26px 6px;
  }
}
.presentation {
  padding: 199px 0 114px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 55px;
  -moz-column-gap: 0px;
       column-gap: 0px;
}
.presentation__box {
  width: 50%;
  padding: 11px 0 0 58px;
  max-width: 550px;
}
.presentation__title {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.05px;
  text-transform: uppercase;
  color: #214E41;
}
.presentation__caption {
  font-family: "Roboto700";
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  max-width: 480px;
  padding-top: 16px;
  color: #214E41;
}
.presentation__desc {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding: 38px 0px 25px;
  max-width: 493px;
  letter-spacing: 0.02px;
  color: #757575;
}
.presentation__liner {
  width: 47%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.presentation__liner::after {
  content: "";
  position: absolute;
  width: 95%;
  max-width: 510px;
  height: 3px;
  background: #F0A446;
  bottom: 165px;
  left: 5px;
}
.presentation__main {
  padding: 140px 7px 4px 4px;
}
.presentation__table {
  padding-top: 11px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.presentation__graph {
  padding-top: 1px;
  padding-bottom: 10px;
  padding-right: 9px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 41px;
}
.presentation__digit {
  font-family: "Roboto700";
  font-weight: 700;
  font-size: 70px;
  line-height: 90px;
  color: #214E41;
}
.presentation__link {
  cursor: pointer;
}
.presentation__text {
  padding: 33px 0 0px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  max-width: 235px;
  letter-spacing: 0.02px;
  color: #214E41;
}
.presentation__select {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.02px;
  -webkit-text-decoration-line: underline;
  -webkit-text-decoration-line-text-decoration-line: underline;
  color: #214E41;
}
.presentation__note {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  text-align: center;
  color: #757575;
}
.presentation__list {
  width: 77px;
  text-align: center;
  color: #214E41;
}
.presentation__list > li:nth-child(1) {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
}
.presentation__list > li:nth-child(2) {
  width: 75px;
  display: block;
  background: #214E41;
}
.presentation__list > li:nth-child(3) {
  height: 46px;
  display: flex;
  align-items: flex-end;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 13px;
  line-height: 12px;
}

@media screen and (max-width: 999px) {
  .presentation__box {
    width: 100%;
    padding-left: 0;
  }
  .presentation__liner {
    width: 100%;
  }
  .presentation__graph {
    gap: 5px;
  }
  .presentation__text {
    max-width: 200px;
  }
}
.flyer {
  display: flex;
  background: #214e41;
}
.flyer__main {
  width: 49%;
  background: #e3eeed;
}
.flyer__wrap {
  margin: 120px auto;
  max-width: 460px;
}
.flyer__title {
  font-family: "Raleway400";
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  padding-bottom: 29px;
  letter-spacing: 0.05px;
  text-transform: uppercase;
  color: #214E41;
}
.flyer__caption {
  font-family: "Roboto700";
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  padding-bottom: 19px;
  color: #214E41;
}
.flyer__gap {
  padding: 12px;
}
.flyer__side {
  width: 50%;
}
.flyer__box {
  margin: 163px auto;
  max-width: 494px;
}
.flyer__list {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  color: #43806C;
}
.flyer__list li {
  padding-bottom: 17px;
}
.flyer__table {
  font-family: "Raleway400";
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0.02px;
  color: #FFFFFF;
}
.flyer__table li {
  padding-bottom: 36px;
}

@media screen and (max-width: 767px) {
  .flyer__table li {
    width: 90%;
    padding-left: 5%;
  }
}
@media screen and (max-width: 1100px) {
  .flyer {
    flex-direction: column;
    justify-content: center;
  }
  .flyer__main {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
  }
  .flyer__side {
    width: 90%;
  }
}
.health {
  padding: 116px 0 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.health__box {
  max-width: 528px;
  padding: 0px;
}
.health__title {
  font-family: "Roboto700";
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.05px;
  text-transform: uppercase;
  color: #43806C;
}
.health__caption {
  font-family: "Roboto700";
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  padding-top: 18px;
  color: #214E41;
}
.health__text {
  font-family: "Raleway400";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding-top: 38px;
  letter-spacing: 0.02px;
  color: #757575;
}
.health img {
  width: 100%;
}

@media screen and (max-width: 479px) {
  .health__box {
    max-width: 100%;
  }
}
.info {
  padding: 55px 10px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px 47px;
}
.info__list {
  width: 22%;
}
.info__list li:nth-child(1) {
  font-family: "Roboto700";
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #F0A446;
}
.info__list li:nth-child(2) {
  padding: 13px 0px 0 0;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.02px;
  color: #214E41;
}

@media screen and (max-width: 767px) {
  .info__list {
    width: 50%;
  }
  .info__list li:nth-child(2) {
    padding-right: 40px;
  }
}
@media screen and (max-width: 360px) {
  .info__list {
    width: 95%;
  }
  .info__list li:nth-child(2) {
    padding-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .info {
    justify-content: center;
  }
  .info__list {
    width: 41%;
  }
  .info__list li:nth-child(2) {
    padding-right: 40px;
  }
}
@media screen and (max-width: 360px) {
  .info__list {
    width: 52%;
  }
  .info__list li:nth-child(2) {
    padding-right: 0;
  }
}
.instruction {
  padding: 110px 0 0px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.instruction__box {
  max-width: 582px;
  padding: 67px 0px 105px 43px;
}
.instruction__title {
  letter-spacing: 0.05px;
  text-transform: uppercase;
  color: #43806C;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 13px;
  line-height: 20px;
}
.instruction__caption {
  max-width: 480px;
  font-family: "Roboto700";
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  padding-top: 18px;
  color: #214E41;
}
.instruction__text {
  font-family: "Raleway400";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding-top: 38px;
  letter-spacing: 0.02px;
  color: #757575;
}
.instruction__button {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  padding: 26px 0px 12px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #214E41;
  letter-spacing: 0.02px;
  color: #214E41;
}
.instruction__button:hover {
  cursor: pointer;
}
.instruction__wrap {
  width: 49%;
  text-align: left;
  padding-left: 114px;
  margin-bottom: -6px;
}
.instruction__pic {
  width: 90%;
  max-width: 296px;
}

@media screen and (max-width: 590px) {
  .instruction__box {
    padding-left: 0;
  }
  .instruction__wrap {
    width: 100%;
    padding-left: 43px;
    margin: 0 auto;
  }
}
.meets {
  padding: 128px 0 113px;
  background-image: url(../img/pic7.png);
}
.meets__box {
  max-width: 503px;
}
.meets__title {
  letter-spacing: 0.05px;
  text-transform: uppercase;
  color: #43806C;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
}
.meets__caption {
  padding-top: 18px;
  max-width: 480px;
  color: #214E41;
  font-family: "Roboto700";
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
}
.meets__text {
  padding-top: 38px;
  letter-spacing: 0.02px;
  color: #757575;
  font-family: "Raleway400";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.meets__button {
  padding: 23px 0px 12px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #214E41;
  letter-spacing: 0.02px;
  color: #214E41;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}
.meets__button:hover {
  cursor: pointer;
}

@media screen and (max-width: 590px) {
  .meets {
    background-position: center;
    background-size: auto 100%;
  }
}
.brands {
  padding: 116px 0 223px;
  width: 100%;
}
.brands__main {
  font-family: "Roboto700";
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  padding-bottom: 97px;
  text-align: center;
  color: #214E41;
}
.brands__prev {
  padding: 3px 0 0 0px;
  width: 42px;
  height: 42px;
  background: transparent;
  border: none;
}
.brands__window {
  margin-right: 8px;
  width: 1046px;
  height: 100px;
  border: 0px solid black;
  overflow: hidden;
}
.brands__tape {
  width: 3273px;
  height: 100px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brands__next {
  padding: 3px 0 0 3px;
  width: 42px;
  height: 42px;
  background: none;
  border: none;
}

.bank {
  padding: 2px 0 105px;
  width: 100%;
}
.bank__list {
  gap: 40px 39px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Roboto700";
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  flex-wrap: wrap;
  color: #214E41;
}
.bank__list li {
  width: 355px;
  height: 384px;
}
.bank__list li h6 {
  padding-top: 21px;
  padding-bottom: 12px;
  font-family: "Raleway400";
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: 0.05px;
  text-transform: uppercase;
  color: #43806C;
}

.about {
  display: flex;
  flex-wrap: wrap;
}
.about__box {
  padding: 108px 0 0 80px;
  width: 50%;
  height: 577px;
  background: #e3eeed;
}
.about__wrap {
  padding: 40px;
  max-width: 480px;
}
.about__text {
  font-family: "Roboto700";
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  padding-bottom: 23px;
  color: #214E41;
}
.about__button {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 13px;
  line-height: 21px;
  padding: 12px 24px;
  border-radius: 6px;
  border: none;
  text-align: center;
  letter-spacing: 0.02px;
  color: #FFFFFF;
  background: #43806c;
  cursor: pointer;
}
.about__button:hover {
  background: green;
}
.about p {
  padding-bottom: 42px;
}
.about__photo {
  width: 50%;
  height: 577px;
  background-image: url(../img/pic16.png);
  background-position: center;
}

@media screen and (max-width: 703px) {
  .about__box {
    padding-left: 0;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .about__wrap {
    padding-left: 5%;
  }
  .about__photo {
    width: 100%;
  }
}
.footer {
  background: #214e41;
}
.footer__wrap {
  padding: 103px 0 70px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__box {
  max-width: 542px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "Raleway400";
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
}
.footer__pic {
  margin-right: 20px;
}
.footer__side {
  max-width: 356px;
  width: 97%;
}
.footer__title {
  font-family: "Raleway400";
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.02px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer__caption {
  padding-top: 18px;
  font-family: "Raleway400";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02px;
  color: #FFFFFF;
}
.footer__form {
  margin-top: 13px;
  border: 2px solid white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.footer__email {
  padding: 18px 53px 6px 21px;
  width: 353px;
  font-family: "Raleway400";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02px;
  color: white;
  background: transparent;
}
.footer__email::-moz-placeholder {
  color: white;
}
.footer__email:-ms-input-placeholder {
  color: white;
}
.footer__email::placeholder {
  color: white;
}
.footer__submit {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 53px;
  border: none;
  background: white;
  cursor: pointer;
}
.footer__social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 26px;
  gap: 25px;
}
.footer__list {
  width: 100px;
  margin-right: 30px;
}
.footer__list li {
  margin-bottom: 14px;
  white-space: nowrap;
}
.footer__list li:first-child {
  font-family: "Roboto700";
  font-weight: 700;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.02px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer__list li:last-child {
  margin-bottom: 20px;
}
.footer__list li:not(:first-child) {
  cursor: pointer;
  color: #FFFFFF;
}
.footer__list li:not(:first-child):hover {
  text-decoration: underline;
}

@media screen and (max-width: 850px) {
  .footer__wrap {
    justify-content: center;
  }
  .footer__side {
    margin-top: 41px;
  }
}
@media screen and (max-width: 400px) {
  .footer__form {
    width: 97%;
  }
  .footer__box {
    display: block;
  }
  .footer__email {
    width: 100%;
  }
  .footer__list:nth-child(even) {
    margin-left: 20%;
    margin-top: 43px;
  }
  .footer__list:nth-child(odd) {
    margin-left: 40%;
  }
}
.footer-2 {
  background: #214e41;
}
.footer-2 p {
  padding: 11px 0;
}
.footer-2__text {
  padding: 64px 0 50px;
  font-family: "Raleway400";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  border-top: 2px solid white;
  letter-spacing: 0.02px;
  color: #FFFFFF;
}
.footer-2__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 47px 0 0px;
}
.footer-2__box {
  display: flex;
}
.footer-2__privacy {
  padding: 4px 11px 4px 0;
  cursor: pointer;
}
.footer-2__service {
  border-left: 1px solid white;
  padding: 4px 0 4px 6px;
  cursor: pointer;
}
.footer-2__privacy:hover {
  text-decoration: underline;
}
.footer-2__service:hover {
  text-decoration: underline;
}

.to-up-btn {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 42px;
  height: 42px;
  background: #43806C;
  border: 2px solid #43806C;
  border-radius: 50%;
  cursor: pointer;
  padding-left: 7px;
  padding-top: 7px;
  z-index: 8;
}

.btn {
  display: inline-block;
  background: #43806C;
  padding: 11px 14px;
  border-radius: 6px;
  font-family: "Raleway";
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  border: none;
  transition: opacity 0.5s;
}
.btn:hover {
  cursor: pointer;
  background: green;
}/*# sourceMappingURL=style.css.map */