/*normalize*/
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none; }

/*general*/
body {
  font-family: var(--font-neo);
  font-weight: normal;
  font-size: 18px;
  color: #070707; }

.container {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto; }

.hidden {
  display: none; }

.grey {
  width: 100%;
  background: #f6f6f6;
}

/*elevator*/
.to-up-btn {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 42px;
  height: 42px;
  background: #fff;
  border: 2.5px solid #070707;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
  z-index: 8; }

.to-up-btn:hover {
  opacity: 0.9; }

/******************************************************/
.header {
  border-bottom: 1px solid #828282; }

.header a {
  text-decoration: none; }

.header__ul {
  padding: 30px 0 33px;
  display: flex; }

.header__li {
  margin-left: 20px; }

.header__li button {
  border: none;
  background: transparent;
  cursor: pointer; }

.header__li .header__active-link {
  color: #070707; }

.header__li:hover a,
.header__li:active a,
.header__li:hover button,
.header__li:active button {
  color: #070707; }

.header__li:first-child {
  margin: 0 auto 0 0; }

.header__item {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #828282; }

.mm {
  position: fixed;
  overflow-y: auto;
  right: 7px;
  top: 50px;
  height: 100%;
  text-align: end;
  display: block;
  z-index: 10; }

.mm-open-btn {
  width: 32px;
  height: 20px;
  border: none;
  text-decoration: none;
  background: transparent;
  display: none;
  margin-left: auto;
  position: absolute; }

.mm-btn-content {
  /*hamburger**/
  display: block;
  width: 32px;
  height: 4px;
  background: #070707;
  border-radius: 15px;
  position: relative;
  cursor: pointer; }

.mm-btn-content:after, .mm-btn-content:before {
  content: '';
  position: absolute;
  width: 32px;
  height: 4px;
  background: #070707;
  border-radius: 15px;
  left: 0; }

.mm-btn-content:after {
  top: 8px; }

.mm-btn-content:before {
  bottom: 8px; }

.mm-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(246, 246, 246, 0.99);
  top: 0;
  left: 0;
  display: block;
  z-index: 5; }

.mm__close-btn {
  background: transparent;
  border: none;
  cursor: pointer; }

.mm__list {
  list-style-type: none;
  margin-top: 180px;
  margin-right: 13px; }

.mm__item {
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  color: #828282; }

.mm__items .header__active-link {
  color: #070707; }

.mm__item:hover,
.mm__item:active {
  color: #070707; }

.mm__items {
  margin-bottom: 41px; }

.mm__items button {
  border: none;
  background: transparent;
  cursor: pointer; }

.mm-hidden {
  display: none; }

@media screen and (max-width: 486px) {
  .header {
    border: none; }
  .header__nav {
    display: none; }
  .mm-open-btn {
    position: relative;
    display: block;
    top: 162px;
    right: 5px;
    left: 0; } }

@media screen and (max-width: 320px) {
  .mm-open-btn {
    top: 175px;
    right: 0px; } }

/*****************************************1*/
.container2 {
  max-width: 329px;
  width: 100%;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 12px;
  text-align: center;
  font-size: 18px; }

.foot__title {
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  line-height: 1px;
  margin-top: 5px;
  padding-top: 73px; }

.foot__text {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 17px;
  margin-top: 38px; }

.foot__soc {
  list-style-type: none;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 39px;
  padding-bottom: 32px; }

.foot__soc_2 a {
  display: inline-block;
  text-decoration: none;
  border: 2.5px solid #070707;
  border-radius: 30px;
  color: #070707;
  font-weight: 700;
  line-height: 22px;
  margin: 5px 5.5px 4px;
  padding: 8px 16px;
  transition: 0.4s; }

.foot__soc_2 a:focus,
.foot__soc_2 a:hover {
  background: #070707;
  color: #fff; }
/*********/
.foot__soc_1 {width: 100%}

.foot__soc_1 a {
  display: inline-block;
  text-decoration: none;
  border: 2.5px solid #070707;
  border-radius: 30px;
  color: #fff;
  background: #070707;
  font-weight: 700;
  line-height: 22px;
  margin: 5px 5.5px 4px;
  padding: 8px 16px;
  transition: 0.4s; }

.foot__soc_1 a:hover {
  background: #fff;
  color: #070707; }
/*********/
.container3 {
  max-width: 190px;
  width: 90%;
  margin: 0 auto;
  font-size: 14px;
  line-height: 16px;
  color: #828282;
  display: block;
  padding-bottom: 40px; }

.container3 a {
  text-decoration: none;
  color: #828282;
  border-bottom: 1px dashed #828282;
  transition: 0.4s; }

.container3 a:active,
.container3 a:hover {
  border-bottom: 1px solid #070707;
  color: #070707; }

:root {
  --font-neo: 'Neo', Arial, sans-serif; }

@font-face {
  font-family: 'Neo';
  src: local("Neo Regular"), local("Neo-Regular"), url("./static/fonts/Gilroy-Regular.woff2") format("woff2"), url("./static/fonts/Gilroy-Regular.woff") format("woff"), url("../static/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Neo';
  src: local("Neo Medium"), local("Neo-Medium"), url("./static/fonts/Gilroy-Medium.woff2") format("woff2"), url("./static/fonts/Gilroy-Medium.woff") format("woff"), url("../static/fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Neo';
  src: local("Neo Bold"), local("Neo-Bold"), url("./static/fonts/Gilroy-Bold.woff2") format("woff2"), url("./static/fonts/Gilroy-Bold.woff") format("woff"), url("../static/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
